.addTask {
    width: 250px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border: var(--border-task);
    border-radius: 15px;
    box-shadow: 5px 15px 15px 0 rgba(0, 0, 0, 0.2);
}