.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.header__navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header__navbar--menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.header__navbar--buttons{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.burgerMenu{
    display: none;
}
@media screen and (min-width: 350px) and (max-width: 700px) {
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header__navbar{
        display: flex;
        flex-direction: column;
    }
    .header__navbar--menu{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .header__navbar--buttons{
        display: flex;
        flex-direction: column;
    }
    .burgerMenu{
        display: block;
    }
    .header__navbar.close{
        display: none;
    }
}