.sidebar{
    width: 200px;
    height: 100%;
    box-shadow: 15px 0px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
    padding: 0px 20px;
}
.sidebar__navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.sidebar__navbar--menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar__navbar--item{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
