@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark:root{
  --bg: #000;
  --font-color: #f2f2f2;
  --border-color: #f2f2f2;
  --border-task: 1px solid #f2f2f2;
}

.light:root{
  --bg: #f2f2f2;
  --font-color: #000;
  --border-color: #000;
  --border-task: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  color: var(--font-color);
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 100%;
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  border-radius: 10px;
  background: transparent;
}

.addBarDescription {
  padding: 10px;
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--font-color);
  outline: none;
}

.addBarTitle{
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--font-color);
  outline: none;
}

h1, h2, h3, h4, h5, label, legend, p, span {
  color: var(--font-color);
}

a{
  font-size: 1em;
  color: var(--font-color);
  text-decoration: none;
}

h2{
  font-size: 1.5em;
}

p{
  font-size: 1em;
}